.carruselBanner {
    width: 100%;
    height: 350px;
}
.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 42px;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    outline: none;
    transition: background 0.3s ease;
    z-index: 1;

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  .custom-arrow.prev {
    left: 10px;
  }
  .custom-arrow.next {
    right: 10px;
  }
  .title-mobile {
    display: none;
  }
/* ////////////////   MOBILE   //////////////// */

  @media only screen and (max-width: 768px) {
    .carruselBanner {
      display: none !important;
    }
    .custom-arrow.prev {
      display: none !important;
    }
    .custom-arrow.next {
      display: none !important;
    }
    .title-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      text-decoration: underline ;
  }
}