.header {
    padding: 0px 50px 0px 50px;
    background-color: white;
}

.logo {
    min-width: 130px;
}
.pcStore {
    width: 120px;
    margin-left: 20px;
}

.hrNav {
    border: 1px solid #ccc;
    margin: 0px -50px;
}

.navCategorias {
    background-color: rgb(150, 150, 150);
    margin: 0 -50px;
    padding: 0 50px;
}

.botonCategorias {
    position: absolute;
    left: 50px;
}

.buscadorHeader {
    max-width: 500px;
    align-content: center;
    margin-right: 200px;
}

/* ////////////////   MOBILE   //////////////// */


@media only screen and (max-width: 768px) {
    
    .header {
        margin: 0 10px !important;
        padding: 0 !important;
        box-sizing: border-box !important;
    }
    
    .buscadorHeader {
        display: none;
    }
    .navCategorias {
        margin: 0 -10px !important;
        padding-left: 10px !important;
    }
}